.nav {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	justify-content: space-around;
}

p {
	font-size: 10px;
	text-align: center;
	color: #b6b7bc;
	padding: 1vw;
}

h2 {
	color: #b6b7bc;
}

h4 {
	color: #b6b7bc;
}

body {
	padding-left: 40vw;
	padding-right: 40vw;
	padding-top: 10vw;
	padding-bottom: 10vw;
}

a {
	text-decoration: none;
	font-size: 10px;
	color: #626266;
}