{
	box-sizing: border-box;

}

.column {
	float: left;
	font-family: Verdana;
}

.left {
	width: 55%;
	margin-left: 80px;
	margin-right: 50px;
	/*background-color: pink;*/
	height: 670px;
}

.left img {
  max-width: 100%;
  height: 640px;
  margin: auto;
  display: block;
}

.right {
	width: 18%;
	margin-right: 80px;
	/*background-color: yellow;*/
	height: 525px;
	padding: 5vw;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#theBack {
	margin-left: 0px;
}

#theNext {
	margin-left: 197px;
}

#footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 40px;
}


#footer a {
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #bdbdd2;
}

h3 {
	text-align: right;
}

p {
	font-size: 14px;
	text-align: justify;
}

blockquote {
	font-size: 14px;
	text-align: justify;
}